<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZFPhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18FC150A1DFA398300E4D036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FC15231DFA398300E4D036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FC152E1DFA398300E4D036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
